<ion-header>

  <ion-navbar hideBackButton color="primary">
    <ion-title>profil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding  id="page2" style="background-color:#c6cbd4;">
  
    <ion-card *ngIf="UserData">
        <img *ngIf="UserData.picture" [src]="UserData.picture" />
        <ion-card-content>
          <p>Email: {{ UserData.email }}</p>
          <p>Name: {{ UserData.first_name }} {{ UserData.last_name }}</p>
        </ion-card-content>
      </ion-card>

      <div class="button-bar">
   

          <button style="left:35%;right:50%;" ion-button color="danger" (click)="Logout()">Logout</button>
      </div>

</ion-content>
